/*section 1*/
 .bloc1
 {
    text-align : right ;
}

.titre
 {
    
}



/*section 5*/
.footer 
 {
    background-color: #F2F2F2; 
    color: black; 
    column-count: 3;
    padding-top : 23px; /*mettre le nombre de pixels*/
}



