/*général*/
.flexcentre {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexstart {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flexbetwwen {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexaround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.texteGras {
	font-weight: bold;
}

.bordureNone {
	border: none;
}

a:link 
{ 
	text-decoration:none; 
	color: black;

}


/*header -navigation*/
.container_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	font-weight: bold;
}

#logo img {
	width: 120px;
	height: 50px;
}

.navigation {
  display: flex;
}

.nav_twotabs {
	display: flex;
	flex-direction: row;
}

.logo_top {
  cursor: pointer;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header ul li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 21px;
  color: #0065fc;
}


header ul li {
  margin-left: 28px;
}


nav ul
{
	display: flex;
	justify-content: flex-end;
}

nav li 
{
	margin-right: 15px;
}

.sizeLIens12 {
	margin-left: 60%;
}

/*style d'ecriture de la page*/
body
{
	font-family:'Raleway',serif, sans-serif;
}

/*section 1*/

.title_paragraph1{
	margin-bottom: 0px;
}

.paragraph1 {
	margin-top: 0px;
}

/*rechercher*/
.searchinput[type="search"] {
    padding: 15px 10px 14px 10px;
    font-size: 110%;
}

.searchinput {
	height: 100%;
	border : 0.5px solid #F2F2F2 ;
}

.research {
	height: 50px;
	width: 230px;
	font-size: 18px;
	color : black;
	font-weight: bold;
}

.iconSize {
	height: 51px;
	width: 50px;
	border-radius: 10px 0 0 10px;
}

.backGris {
	background-color: #F2F2F2
}

.backBlue {
	background-color: #0065fc;
}

.buttonSearch {
	height:50px;
	width: 120px;
	color: white;
	cursor: pointer;
	border-radius: 0 10px 10px 0;
}

/*filtres*/
.filtres{
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.margfiltres
{
	margin-top: 50px;
	margin-bottom: 40px;
}

.margfiltresTitre { 
	margin-right: 20px;
}

.filtreTextIcon {
	border: 2px solid #F2F2F2;
	height: 50px;
	border-radius: 30px;
	margin-right: 20px;
}

.filtreIcon {
	border-radius: 25px;
	width: 52px;
	height: 52px;
	color : #0065fc;
	background-color: #deebff;
}

.filtreText {
	height:50px;
	padding-left: 10px; 
	padding-right: 20px;
	border-radius: 0px 25px 25px 0px;
}

.filtreTextIcon:hover > .filtreText {
	color :#0065ff;
}

.filtreTextIcon:hover > .filtreIcon {
	color: white;
	background-color: #0065fc;
}

.twofiltres {
  		display: flex;
  		flex-direction: row;
  	}


/*ligne d'info*/
.info {
	display: flex;
	align-items: baseline;
	margin-bottom: 20px;
}

.fa-info
{
	text-align: center;
    color: #0065fc;
    border-radius: 15px;
    height: 20px;
    width: 20px;
    border: solid 1px #d9d9d9;
    padding: 4px;
    box-sizing: border-box;
    font-size: 0.7em;
}

.infotext {
	padding-left: 10px;
}


/*hebegements et lespluspopulaires*/
#rentalandmostpop {
	display: flex;
}

.rental {
  background-color: #f2f2f2;
  border-radius: 15px;
  margin-right: 20px;
  height: 630px;
  padding-top: 20px;
  width: 66%
}

.titre_hebergements {
	padding-left: 20px;
}

.container_hebergement {
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
	margin-right: 20px;
}

.blochebergement {
  background: white;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 0px 10px 20px 15px;
  box-shadow: 0 5px 16px #0000002e;
  width: 30%;
  padding: 1%;
}

.blochebergement img {
  background-color: white;
  border-radius: 15px 15px 0px 0px;
  transition-duration: 0.1s;
  cursor: pointer;
  width: 100%;
  height: 120px;
}

.blocherbergement p {
  margin: 0;
  font-weight: 100;
}

.blochebergement h3 {
  margin: 3px 10px;
}

.titre_rental{
	margin-top:10px;
}

.text_rental {
	margin-top: 0;
	margin-bottom :0;
	margin: 3px 10px;
}

.photo_hebergement {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.note_hebergement {
    margin: 3px 10px;
}

.fa-star
{
	color: blue;
}

.seemore {
  color: black;
  padding-left: 20px;
  width:100%;
}

/*les plus populaires*/
.mostpops {
    margin-left: 20px;
    height: 650px;
    background-color: #f2f2f2;
  	border-radius: 15px;
  	width: 33%
}

.pops {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-top: 20px;
	padding-left:20px;
	padding-right: 20px;
}

.container_les_pluspop {
	padding-right: 40px;
	padding-left: 40px;
}


.bloclespluspop {	
  background: white;
  border-radius: 20px;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 5px 20px 5px;
  box-shadow: 0 5px 16px #0000002e;
  display :flex ;
}

.photo_populaire {
  background-color: white;
  transition-duration: 0.1s;
  cursor: pointer;
  width: 150px;
  height: 140px;
  border-radius: 15px 0 0 15px;
  margin: 2px 10px 2px 0px;
  object-fit: cover;
}

.text_lespluspop {
    display:flex;
    flex-direction: column;
    padding : 10px;
}

.text_pops {
	margin-top: 10px;;
}

.titre_pops{
	margin-top:10px;
	margin-bottom: 0px;
}

.titre_pops2 {
	margin: 0;
}


/*activites*/

#Activites{
	width: 100%;
}

.acts {
	padding-top: 30px;
}

.container_activites {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 496px;
  margin-top: 30px;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.blocactivite {
	width: 23%;
}

.photo_activite {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

.photo_activite img {
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem 1.25rem 0 0;
}

.activite1 img {
  height: 440px;
}

.activite2 img {
  height: 210px;
}

.activite3 img {
  height: 120px;
}

.activite4 img {
  height: 440px;
}

.activite5 img {
  height: 130px;
}

.activite6 img {
  height: 180px;
}

.text_activite {
  padding: 0 0px 5px 20px;
  cursor: zoom-in;
}

.activite2 {
	margin: 0px 0px 40px 0px;
}

.activite5 {
  margin: 0px 0px 60px 0px;
}

/*section 5*/
.footer {
    background-color: #F2F2F2; 
    color: black; 
    display: flex;
    justify-content: space-around;
    padding : 30px 20px 23px 20px;
}

.footer h3 {
  margin-top:0;
  font-size:1.2em;
}

.footer ul {
  padding: 0;
  list-style:none;
  font-size:1em;
  line-height: 2em; 
}

#a_propos
{
	width: 33%;
	padding-top: 10px;
}

#nos_hebergements
{
	width: 33%;
	padding-top: 10px;
}

#assistance 
{
	width: 33%; 
	padding-top: 10px;
}


/* responsive */
@media (min-width: 767px) and (max-width: 2000px) {

	.container_hebergement {
		min-height: auto ;
	}

	.loupe {
    display: none;
  	}
}

/* RESPONSIVE TABLETTE */


@media (min-width: 768px) and (max-width: 1024px) /* TABLETTE */ {
  /* TEXTE DU HEADER */
  	header {
    	text-align: center;
    	margin-bottom: 15px;
  	}

  /* FORMULAIRE DE RECHERCHE */

  .logosearch {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    margin-top: -15px;
  }

  /* FILTRES */
  .filtres {
    flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
  }


  .filtreText {
    font-size: 12px;
  }

  .info {
    align-items: CENTER;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 1250px) {

	.mostpops {
		display: grid;
   		height: auto;
   		background-color: #F2F2F2;
	}

	.bloclespluspop {	
 	  display :flex ;
 	  flex-direction: column;
	}

	.rental {
		display: grid;
		height: auto;
	}

	.photo_hebergement {
		object-fit: cover;
	}

}


/*RESPONSIVE MOBILES*/
@media (min-width: 300px) and (max-width: 767px) {
  /* PARAMETRES GENERAUX */


 	h2 {
    	/*font-family: 'Raleway-Semibold';*/
    	font-size: 20px;
    	font-weight: bold;
	}


	h3 {
    	font-size: 16px;
  	}

  /* HEADER */

	header {
		margin: 0;
    	width: 100%;
    	padding-left: 5px;
 		display: grid;
    	padding-top: 5px; 
	}


	.nav {
		margin-right: 0;
		width: 100%;
	}

	a:link { 
    	display: block;
	}

  /* HEADER MENU */
	.login {
		position: ABSOLUTE;
		top: 15px;
		right: 45px;
		color: blue;
		border :none;
	}

	nav {
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	nav ul {
		width: 100%;
	}

	header ul li {
		margin-left: 0;
		width: 50%;
		text-align: center;
	}

	header ul li a:hover {
		border-bottom: 2px solid #0065fc;
		border-top: none;
		padding-bottom: 10px;
		width: 100%;
		padding-top : 0;
	}

	.container_header {
		flex-wrap: wrap;
	}

	.nav_twotabs {
  		justify-content: space-around;
  		border-bottom: 2px solid #f2f2f2;
	}

	.title_paragraph1 {
		margin-bottom: 0px;
		margin-top: 0px;
	}

  /* PARAMETRES DU DISPLAY BOUTON LOUPE */


	.loupelogo i {
		display: inline;
		color: white;
		background-color: #0065fc;
		padding: 18px;
		border-radius: 18px;
		position: relative;
		right: 52px;
	}

	.recherche {
		display: none;
	}

	.buttonSearch {
		width: 50px;
		border-radius: 10px 10px 10px 10px;
		margin: -10px;
	}

  /* FILTRES */

	.filtres {
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;

	}

	.margfiltres {
    	margin-top: 20px;
    	margin-bottom: 10px;
	}


	.margfiltresTitre {
    	margin-bottom: 10px;
    	width: 100%;
	}


	.filtreTextIcon {
    	margin-bottom: 15px;
    	margin-right : 10px;
  	}

	.mobilefiltres {
  		flex-direction: row;
  	}

  	.twofiltres {
  		display: flex;
  		flex-direction: row;
  	}

  /* HEBERGEMENTS ET POPULAIRES */

	#rentalandmostpop {
		display: flex;
		flex-direction: column;
  	}

   /* PARAMETRES HEBERGEMENTS POPULAIRES */

	.mostpops {
		width: 100%;
		order: 1;
		margin: 0%;
		padding-left: 0;
		border-radius: 0;
	}

	.bloclespluspop {
		padding: 5px;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
	}
  	
  /* PARAMETRES HEBERGEMENTS */

	.rental {
    	background-color: white;
    	order: 2;
    	width: 100%;
    	margin: 0%;
    	padding: 0;
    	height: auto;
  	}

	.container_hebergement {
		flex-direction: column;
		margin: 0;
  	}


  	.blochebergement {
    	width: 95%;
    	font-size: 14px;
    	padding: 0%;
  	}

	.photo_hebergement {
  		object-fit: cover;
  	}

  	.note_herbergement {
  		margin-bottom: 10px;
  	}
  
  /* PARAMETRES ACTIVITES */

	.container_activites {
    	display: grid;
    	height: auto;
    	margin-bottom: 25px;
    	justify-content: normal;
    	-moz-margin-start: -60px;
  	}

  	.blocactivite {
    	width: auto;
    	padding-top: 20px;
  	}

  	.photo_activite img {
    	width: 100%;
    	height: 100px;
  	}

  	.activite2 {
    	margin: 0px 0px 20px 0px;
	}

  	.activite5 {
  		margin-bottom: 20px;
  	}

  	.text_activite {
    	padding: 8px 0px 5px 20px;
    	border-radius: 0 0 1.25rem 1.25rem;
    	border-color: transparent;
    	box-shadow: 0 5px 16px #0000002e;
    	margin-top: -12px;
  	}

  /* FOOTER*/

  	.footer {
    	display: flex;
    	flex-direction: column;
  	}
}
